[submodule "themes/hexo-theme-fluid"]
	path = themes/hexo-theme-fluid
	url = https://github.com/fluid-dev/hexo-theme-fluid
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/fluid-dev/hexo-theme-fluid
